In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Define sample categories and attributes
categories = [
    ("Salad", "Continental", "High Protein", False, False, True, 250, 320),
    ("Bowl", "Indian", "Vegetarian", False, True, True, 220, 450),
    ("Bowl", "Asian", "Vegan", True, True, False, 230, 380),
    ("Beverage", "Fusion", "Low Fat", True, True, True, 150, 180),
    ("Dessert", "Western", "High Calorie", False, True, False, 180, 500),
    ("Wrap", "Mexican", "Balanced", False, True, False, 200, 420),
    ("Soup", "Continental", "Low Calorie", True, True, True, 170, 250),
    ("Snack", "Indian", "Vegetarian", False, True, False, 120, 350),
    ("Juice", "Fusion", "Vegan", True, True, True, 130, 160),
    ("Smoothie", "Fusion", "Low Fat", True, True, True, 160, 200)
]

# Generate 500 records
records = []
for i in range(1, 501):
    cat, cuisine, diet, vegan, veg, gluten_free, price, cal = random.choice(categories)
    created_date = datetime(2024, 1, 1) + timedelta(days=random.randint(0, 270))
    total_orders = random.randint(50, 1000)
    last_month_sales = int(total_orders * random.uniform(0.2, 0.5))
    last_week_sales = int(last_month_sales * random.uniform(0.2, 0.4))
    is_seasonal = random.choice([True, False])
    available = True
    rating = round(random.uniform(3.5, 5.0), 1)

    records.append({
        "Product_ID": i,
        "Product_Name": f"{diet} {cat} {i}",
        "Category": cat,
        "Cuisine": cuisine,
        "Dietary_Preference": diet,
        "Is_Vegan": vegan,
        "Is_Vegetarian": veg,
        "Is_Gluten_Free": gluten_free,
        "Calories": cal,
        "Price": price,
        "Avg_Rating": rating,
        "Total_Orders": total_orders,
        "Last_Week_Sales": last_week_sales,
        "Last_Month_Sales": last_month_sales,
        "Is_Seasonal": is_seasonal,
        "Available": available,
        "Created_Date": created_date
    })

df_500 = pd.DataFrame(records)
df_500.head()

,Product_ID,Product_Name,Category,Cuisine,Dietary_Preference,Is_Vegan,Is_Vegetarian,Is_Gluten_Free,Calories,Price,Avg_Rating,Total_Orders,Last_Week_Sales,Last_Month_Sales,Is_Seasonal,Available,Created_Date
0,1,Low Fat Beverage 1,Beverage,Fusion,Low Fat,True,True,True,180,150,5.0,322,37,132,True,True,2024-03-30
1,2,Vegetarian Snack 2,Snack,Indian,Vegetarian,False,True,False,350,120,4.7,505,56,205,True,True,2024-06-25
2,3,Vegan Bowl 3,Bowl,Asian,Vegan,True,True,False,380,230,4.4,929,114,294,True,True,2024-01-10
3,4,Low Calorie Soup 4,Soup,Continental,Low Calorie,True,True,True,250,170,4.3,523,37,138,False,True,2024-02-09
4,5,Vegan Bowl 5,Bowl,Asian,Vegan,True,True,False,380,230,3.9,547,52,159,True,True,2024-07-15

In [5]:
df_500['Category'].value_counts()

Category
Bowl        92
Juice       58
Soup        55
Wrap        54
Dessert     51
Beverage    50
Snack       49
Smoothie    47
Salad       44
Name: count, dtype: int64

In [2]:
import sqlite3

# Step 1: Connect to SQLite database (it will create one if not exists)
conn = sqlite3.connect("menu_recommendation.db")

# Step 2: Write DataFrame to SQL table
df_500.to_sql("menu_items", conn, if_exists="replace", index=False)

# Step 3: (Optional) Verify by reading back a few rows
check_df = pd.read_sql("SELECT * FROM menu_items LIMIT 5;", conn)
print(check_df)

# Step 4: Close connection
conn.close()

   Product_ID        Product_Name  Category      Cuisine Dietary_Preference  \
0           1  Low Fat Beverage 1  Beverage       Fusion            Low Fat
1           2  Vegetarian Snack 2     Snack       Indian         Vegetarian
2           3        Vegan Bowl 3      Bowl        Asian              Vegan
3           4  Low Calorie Soup 4      Soup  Continental        Low Calorie
4           5        Vegan Bowl 5      Bowl        Asian              Vegan

   Is_Vegan  Is_Vegetarian  Is_Gluten_Free  Calories  Price  Avg_Rating  \
0         1              1               1       180    150         5.0
1         0              1               0       350    120         4.7
2         1              1               0       380    230         4.4
3         1              1               1       250    170         4.3
4         1              1               0       380    230         3.9

   Total_Orders  Last_Week_Sales  Last_Month_Sales  Is_Seasonal  Available  \
0           322               37               132            1          1
1           505               56               205            1          1
2           929              114               294            1          1
3           523               37               138            0          1
4           547               52               159            1          1

          Created_Date
0  2024-03-30 00:00:00
1  2024-06-25 00:00:00
2  2024-01-10 00:00:00
3  2024-02-09 00:00:00
4  2024-07-15 00:00:00

In [3]:
check_df

,Product_ID,Product_Name,Category,Cuisine,Dietary_Preference,Is_Vegan,Is_Vegetarian,Is_Gluten_Free,Calories,Price,Avg_Rating,Total_Orders,Last_Week_Sales,Last_Month_Sales,Is_Seasonal,Available,Created_Date
0,1,Low Fat Beverage 1,Beverage,Fusion,Low Fat,1,1,1,180,150,5.0,322,37,132,1,1,2024-03-30 00:00:00
1,2,Vegetarian Snack 2,Snack,Indian,Vegetarian,0,1,0,350,120,4.7,505,56,205,1,1,2024-06-25 00:00:00
2,3,Vegan Bowl 3,Bowl,Asian,Vegan,1,1,0,380,230,4.4,929,114,294,1,1,2024-01-10 00:00:00
3,4,Low Calorie Soup 4,Soup,Continental,Low Calorie,1,1,1,250,170,4.3,523,37,138,0,1,2024-02-09 00:00:00
4,5,Vegan Bowl 5,Bowl,Asian,Vegan,1,1,0,380,230,3.9,547,52,159,1,1,2024-07-15 00:00:00